*           @spacifici @ravjit-cliqz @jayeshsolanki93 @giota-cliqz
jsengine/*  @sammacbeth @alex-cliqz
Jenkinfile  @sharath-cliqz @joseph-cliqz @chrmod
Dockerfile  @sharath-cliqz @joseph-cliqz @chrmod
strings.xml @javier-cliqz
