<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright 2014 A.C.R. Development -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application>
        <activity
            android:name="io.lookback.sdk.ui.recording.AcceptPolicyActivity"
            android:theme="@style/LookbackAppTheme.Transparent.NoDim">
        </activity>
        <activity
            android:name="io.lookback.sdk.ui.recording.RecordingActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/LookbackAppTheme.Transparent">
        </activity>
        <activity
            android:name="io.lookback.sdk.ui.recording.StopRecordingActivity"
            android:label="@string/lookback_activity_stop_recording_title"
            android:theme="@style/LookbackAppTheme.Transparent.NoDim">
        </activity>
        <activity
            android:name="io.lookback.sdk.ui.recording.WeAreRecordingActivity"
            android:theme="@style/LookbackAppTheme.Transparent.NoDim">
        </activity>
        <activity
            android:name="io.lookback.sdk.ui.dashboard.RecordingsActivity"
            android:label="@string/lookback_activity_recordings_title"
            android:theme="@style/LookbackAppTheme"
            android:parentActivityName="io.lookback.sdk.ui.recording.RecordingActivity">
        </activity>
        <activity
            android:name="io.lookback.sdk.ui.preview.PreviewActivity"
            android:label="@string/lookback_activity_preview_title"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/LookbackAppTheme">
        </activity>
        <activity
            android:name="io.lookback.sdk.ui.SettingsActivity"
            android:label="@string/lookback_activity_settings_title"
            android:theme="@style/LookbackAppTheme"
            android:parentActivityName="io.lookback.sdk.ui.dashboard.RecordingsActivity">
        </activity>

        <service
            android:name="io.lookback.sdk.service.BackgroundService"
            android:exported="false"/>
    </application>

</manifest>
